<!-- # Visualizer Tempaltes -->
<script id="artistname" type="text/uduvudu-template">
  <h1> <%- artistname.u %> </h1>
</script>


<script id="thumbnail" type="text/uduvudu-template">
  <div class="row">
     <div class="col-md-12">
    <img style="margin:15px;" class="pull-right img-thumbnail" src="<%- thumbnail.u %>">
</script>

<script id="abstract" type="text/uduvudu-template">
    <p style="text-align: justify;line-height: 1.9em;"> <%- abstract.u %> </p>
  </div>
  </div>
</script>


<script id="seeAlso" type="text/uduvudu-template">
  <div class="panel">
  <div class="panel-body">
    
  <p> 
  <b>External Link</b> : <a href="<%= seeAlso.seeAlso.u %>"> 	<%= seeAlso.seeAlso.u %> </a>
  </p>
	<h3> Comment </h3>
    <p> <%- seeAlso.comment.u %> </p>
  </div>
</div>
</script>

<!-- container for literals -->
<script id="literals" type="text/uduvudu-template">
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
      <h4 class="panel-title"> <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1"> Other Literals</a> </h4>
    </div>
    <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
      <ul class="list-group">
        <% _.each(literals, function(e) {print('<li class="list-group-item">'+template(e.literal))+'</li>'}); %>
      </ul>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>
</script>

<!-- literal -->
<script id="literal" type="text/uduvudu-template">
    <b><%-literal.name.u%></b>: <%-literal.text.u%>
</script>

<!-- container for literals -->
<script id="unknowns" type="text/uduvudu-template">
    <div style="clear: both;">
        <% /*_.each(unknowns, function(e) {print(template(e.unknown))});*/ %>
    </div>
</script>

<!-- unknown -->
<script id="unknown" type="text/uduvudu-template">
  <div style=" width: 140px; height: 140px; float: left; overflow: hidden;">
      <small><p><%=unknown.subject.u%><br />&#9608;<br /><%=unknown.predicate.u%><br />&#9608;<br /><%=unknown.object.u%></p></small>
  </div>
</script>

<!-- void -->
<script id="void" type="text/uduvudu-template">
</script>
